.container-box {
    width: 370px;
    height: 300px;
    position: relative;
    z-index: 5;
}

.button-read {
    position: absolute;
    bottom: 7%;
    left: 2%;
}

.image-container {
    position: relative;
    /* left: 42.5%; */
    overflow: hidden;
    display: inline-block;
}

.image-container::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -60%;
    width: 20%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgba(255, 255, 255, 0.0) 100%);
}

.image-container:hover::after {
    opacity: 1;
    left: 130%;
    transition-property: left, top, opacity;
    transition-duration: 1s, 0.7s, 0.15s;
    transition-timing-function: ease;
}

.image-container:active::after {
    opacity: 0;
}